<nav class="navbar navbar-expand navbar-dark bg-primary navhead" *ngIf="currentUser">
  <div class="navbar-nav">
    
      <a class="nav-item nav-link" routerLink="/">
        <i class="material-icons">home</i><br> Home</a>
      <a class="nav-item nav-link" routerLink="/admin" *ngIf="isAdmin">
        <i class="material-icons">supervisor_account</i><br>Admin</a>
      <a class="logout nav-item nav-link" (click)="logout()">
          <i class="material-icons">exit_to_app</i><br>Logout</a>
  </div>
</nav>

  <div class="container">
      <div class="row">
          <div class="col-md-6 offset-md-3">
              <router-outlet></router-outlet>
          </div>
      </div>
  </div>


